* {
    margin: 0;
    padding: 0;
}

.main {
    width: 1090px;
    height: 641px;
    margin: auto;
    background-color:rgb(204, 92, 40);
}

/* Este es el primer contenedor que estara a lado del segundo contenedor */
.contenedor-logo { 
    width: 50%;
    height: 100%;
    background-color: orange;
    display: inline-block;
}

.contenedor-logo .wallpaper {
    width: 100%;
    height: 400px;
    background-color: rgb(30, 210, 84);
}

.contenedor-logo .logo-bosch {
    height: 100%;
    background-color: rgb(226, 64, 24);
}

.contenedor-form {
    width: 50%;
    background-color: pink;
    float: right;
}