* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #eeeeee;
}

.main {
    width: 1090px;
    /* 625 y 641 */
    height: 641px;
    margin: auto;
    background-color: white;
}

/* Este es el primer contenedor que estara a lado del segundo contenedor */
.contenedor-logo { 
    width: 50%;
    height: 99.5%;
    display: inline-block;
}

/* DIV que contiene la img de BOSCH */
.contenedor-logo .wallpaper {
    width: 100%;
    height: 100%;
}

.contenedor-logo .wallpaper img {
    width: 100%;
    height: 625px;
}



/* AQUI EMPIEZA EL ESTILO SEGUNDO CONTENEDOR */

.contenedor-form {
    width: 50%;
    height: 100%;
    /* background-color: pink; */
    float: right;
}

.contenedor-form form .Title {
    font-size: large;
    padding: 40px 15px 40px 15px;
    text-align: center;
}

.contenedor-form form .Title p {
    margin: auto;
    width: 485px;
}

.contenedor-form .user-resgiter {
    /* display: inline-block; */
    display: flex;
    justify-content: center;
    width: 100%;
}

.contenedor-form input[type="text"] {
    width: 216px;
    padding: 12px;

}


/* TEXTAREA */

/* Contendro Padre */
.textarea_select-department {
    width: 100%;
    height: 80px;
    margin-top: 20px;
}

.textarea_select-department .box_Textarea {
    width: 50%;
    height: 100%;
    display: inline-flex;
}

.textarea_select-department .box_Textarea textarea {
    resize: none;
    width: 85.9%;
    height: 85.5%;
    padding: 5px;
    margin-left: 28px;
}

/* CHECKBOXES */
.textarea_select-department .select_Department {
    float: right;
    width: 50%;
    height: 100%;
    display: inline-flex;
}

.textarea_select-department .select_Department .select_Department-Hijo {
    width: 89%;
    height: 98%;
    border: 1px solid #000;
}

.textarea_select-department .select_Department label {
    display: block;
    width: 89%;
    height: 25%;
    margin-left: 2px;

}

.box_Buildings {
    width: 100%;
}

.box_Buildings-Hijo {
    width: 90%;
    padding: 8px 0px;
    margin: auto;
    margin-top: 15px;
}


/*AQUI COMIENZA LAS CAJAS DE TERMINOS Y CONDICIONES Y CONTROL DE USUARIOS*/
/* CAJA PADRE */
.control_Users {
    width: 100%;
    padding-top: 20px;
}


/* CAJA HIJO 1 */
.control_Users .txt_legend {
    width: 43.7%;
    padding: 3px 3px 3px 2px;
    margin-left: 27.9px;
    display: inline-block;
    border: 1px solid #000;
}

.control_Users .txt_legend p {
    font-size: 14px;
}

/* CAJA HIJO 2 */
.control_Users .userType {
    width: 43.9%;
    height: 35px;
    padding: 31px 0px 4px 0px;
    display: inline-block;
    border: 1px solid #000;
}

.userType .Tittle_ctlUser{
    display: block;
}

.btn_sign_in {
    padding-top: 20px;
}

.btn_sign_in .btn_sign_in-Hijo {
    width: 90%;
    margin: auto;
}

.btn_sign_in input[type="button"]{
    width: 100%;
    padding: 10px;
    color: white;
    font-size: 15px;
    border-radius: 2px;
    background-color: #06a35b;
    font-family: 'Times New Roman';
}

.btn_sign_in input[type="button"]:hover{
    color: #000;
    background-color: #f7e4ea;
}

.btn_sign_in input[type="button"]:active{
    background-color: darkorange;
}

.restore_data {
    padding-top: 30px;

}

.restore_data-Hijo {
    margin: auto;
    width: 90%;
    text-align: center;
}

.restore_data-Hijo > p{
    display: inline-block;
}

.restore_data-Hijo > a {
    display: inline-block;
}